@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Rajdhani/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Rajdhani/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Rajdhani/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Rajdhani/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Rajdhani';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Rajdhani/regular.ttf') format('truetype');
}
