@font-face {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/300italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/700italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/800italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Red Hat Display';
   font-style: italic;
   font-display: swap;
   font-weight: 900;
   src: url('file:///C:/Users/Linestar%20Desing/Desktop/paginas%20web/angeles%20stars/fonts/Red Hat Display/900italic.ttf') format('truetype');
}
